body {
  font-size: 26px;
  color: white;
  background-color: black;
}

.popUpContainer {
	display: grid;
	place-items: center;
  background-color: #58514F;
  border-radius: 50px;
  width: 80%;
  position: relative;
  left: 10%;
  padding-top: 30px;
}

#pdfDownloadBtn {
  cursor: pointer;
}

#uploadCompleteTxt {
  font-size: 70px;
}

#uploadDataContainer {
  margin: 50px 50px 0 100px;
}

#downloadPdfTxt {
  font-size: 10px;
}


.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  margin: 20px 60px 0 60px;
}

input[type=text], select {
  width: 40%;
  padding: 10px 20px;
  margin: 8px 10p;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 30px;
}

#landingPageForm {
  padding-right: 20px;
}

#uploadFileBtn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0 0 60px;
}

input[type="file"] {
  background-color: #58514F;
}
.file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

