body {
  font-size: 26px;
  color: white;
  background-color: black;
}

.landingPageContainer {

}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 10p;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
